/* 사용하는 font-weight만 남김 */
@font-face {
  font-family: 'Pretendard';
  src:
    url('Pretendard-Regular.woff2') format('woff2'),
    url('Pretendard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
